.idea/
/android/.gradle
build/
.vscode/
/android/gradle/
.dart_tool/
firebase.exe
*.log
*.lock
android/gradle.properties
.android/
.flutter-plugins
.packages
.pub/
ios/Pods/
macos/Pods/
macos/Flutter/ephemeral
*.iml
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
.env
android/app/build/