<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507283736563-6f3t9b3qvf1g0c57ginmpsn5eto7f7g2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507283736563-6f3t9b3qvf1g0c57ginmpsn5eto7f7g2</string>
	<key>API_KEY</key>
	<string>AIzaSyDl8_UCoQAFrdhRqocr7eoHJy9CoQt1UeY</string>
	<key>GCM_SENDER_ID</key>
	<string>507283736563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.preciousGifts</string>
	<key>PROJECT_ID</key>
	<string>auth-68455</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-68455.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507283736563:ios:84efaf19ea6868b5423486</string>
	<key>DATABASE_URL</key>
	<string>https://auth-68455-default-rtdb.firebaseio.com</string>
</dict>
</plist>